<div class="main-page-wrapper home-page-two">

      <!-- ===================================================
        Loading Transition
      ==================================================== -->
      <div id="loader-wrapper">
        <div id="loader"></div>
      </div>



      <div class="html-top-content">
        <!-- 
        =============================================
          Theme Header
        ============================================== 
        -->
        <header class="theme-main-header">
          <div class="container">
            <div class="menu-wrapper clearfix">
              <div class="logo float-left"><a href="index.html"> <%= image_tag 'logo-move.png' %> </a></div>

              
            </div> <!-- /.menu-wrapper -->
          </div> <!-- /.container -->
        </header> <!-- /.theme-main-header -->


        <!--
        =====================================================
          Theme Main SLider
        =====================================================
        -->

        <div class="text-white background-banner">
            <div class="intro-content mt-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 align-self-center text-white">
                     <h1>Movilidad divertida <br>y cívica</h1>
                    <p class="lead mb-4">Descubre todo lo que transmilenio <br>tiene para decirte </p>
                    <h5>Descargala ahora</h5>
                              <a href="#" class="btn-banner btn-applestore"><%= image_tag '1.png' %>App Store</a>
                              <a href="#" class="btn-banner btn-googleplay"><%= image_tag '2.png' %>GooglePlay</a>
                  </div><!-- /.col-md-6 -->
                  <div class="col-md-6 ml-auto">
                      <div class="image-banner">
                   <%= image_tag 'banner.png' %>
                </div>
                  </div><!-- /.col-md-6 -->
                </div>
              </div>
            </div>
          </div>



            <!--
        =====================================================
          What We Do
        =====================================================
        -->
        <div class="what-we-do bg">
          <div class="container">
            <div class="theme-title-one text-center">
              <h6>Como Funciona</h6>
              <h2>Haz que esperar tu transmi sea más ameno</h2>
              <h4>Mientras descubres los tesoros que hay a tu alrededor</h4>
            </div> <!-- /.theme-title-one -->

            <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp">
                <div class="single-block tran3s">
                  <%= image_tag("cloud.png", :class => "tran4s") %>
                  
                 <h6>Descarga</h6>
                  <p>Ingresa a al aplicación <br>puedes conocer las rutas y estaciones</p>
                  
                </div> <!-- /.single-block -->
              </div> <!-- /.col- -->
              <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="single-block tran3s">
                  <%= image_tag("app.png", :class => "tran4s") %>
                
                  <h6>Descubre</h6>
                  <p>Mientras esperas el transmi<br>Descubre secretos y tesoros a tu alrededor</p>
                  
                </div> <!-- /.single-block -->
              </div> <!-- /.col- -->
              <div class="col-md-3 hidden-sm col-xs-12 wow fadeInUp" data-wow-delay="0.150s">
                <div class="single-block tran3s">
                  <%= image_tag("treasure.png", :class => "tran4s") %>
                  
                 <h6>Obten los tesoros</h6>
                  <p>Guardalos,<br>son muy valiosos</p>
                  
                </div> <!-- /.single-block -->
              </div> <!-- /.col- -->

              <div class="col-md-3 hidden-sm col-xs-12 wow fadeInUp" data-wow-delay="0.150s">
                <div class="single-block tran3s">
                  <%= image_tag("group.png", :class => "tran4s") %>
                  
                 <h6>Utilízalos</h6>
                  <p>Siempre que viajes en transmi<br>no volverás a ser el mismo pasajero.</p>
                  
                  
                </div> <!-- /.single-block -->
              </div> <!-- /.col- -->
            </div> <!-- /.row -->
          </div> <!-- /.container -->
        </div> <!-- /.what-we-do -->

        
        <!--
        =====================================================
          Advance Feature
        =====================================================
        -->
        <div class="advance-feature">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-xs-12 wow fadeInLeft">
                <div class="feature-text">
                  <div class="theme-title-two">
                    <h2>Cambia el estres por una sonrisa</h2>
                  </div> <!-- /.theme-title-two -->
                  <p>Queremos un transmilenio donde todos nos respetemos y pensemos también en los demás, ayudando a quienes lo necesiten para que todos tengamos una mejor experiencia de viaje.</p>
                </div>
              </div> <!-- /.col- -->

              <div class="col-md-6 col-xs-12">
                <div class="feature-warpper">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="single-feature bg-one">
                        
                        <h5>Los tesoros más valiosos</h5>
                        <p>Son cosas que son mucho más que dinero y que cambian nuestra vida:</p>
                        <ul><br/>
                          <li>Respetar a los demás</li>
                          <li>Ayudar a quienes lo necesitan</li>
                          <li>Pensar en todos</li>
                          <li>Sentirnos tranquilos</li>
                          <li>Tener un ambiente agradable en nuestros recorridos</li>
                        </ul>
                      </div>
                      <div></div>
                    </div>

                    <div class="col-xs-6">
                      <div class="single-feature bg-three">
                        
                       <h5>Es super divertido</h5>
                        <p>Cuando estás afanado esperando el bus o cuando vas para tu destino:</p>
                        <ul><br/>
                          <li>Diviertete descubriendo tesoros</li>
                          <li>Relajate un momento y piensa en otras cosas</li>
                          <li>Sorprendete con la innovadora experiencia de nuestra app</li>
                        </ul>
                      </div>

                      <div class="single-feature bg-four">
                        
                      
                        <h5>Encuentra Información</h5>
                        <p>Además de la experiencia innovadora de nuestra app.</p>
                        <p>Encuentra las rutas de transmilenio a la mano.</p>
                      </div>
                    </div>
                  </div>
                </div> <!-- /.feature-warpper -->
              </div>
            </div> <!-- /.row -->
          </div> <!-- /.container -->
        </div> <!-- /.advance-feature -->


            <!--
        =====================================================
          Boost Your Phone
        =====================================================
        -->
        <div class="boost-your-phone">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-xs-12 float-right  wow fadeInRight">
                <div class="text">
                  <div class="theme-title-two">
                    <h6>Características</h6>
                    <h2>Aplicación de civismo en transmilenio <br>que emplea Realidad Aumentada</h2>
                    <p></p>
                  </div> <!-- /.theme-title-two -->
                  <ul>
                    <li><i class="flaticon-tick"></i> Encuentra rutas y estaciones</li>
                    <li><i class="flaticon-tick"></i> Accede a la experiencia de Realidad Aumentada</li>
                    <li><i class="flaticon-tick"></i> Descubre una y otra vez los tesoros que hay a tu alrededor</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="boster-image-wrapper  wow fadeInLeft">
              
              <%= image_tag("home/try.png", :class => "try") %>              
              <input type="checkbox" id="ao-toggle" class="ao-toggle" name="ao-toggle">
              <%= image_tag("features.png", :alt => "Características") %>
              <div class="ao-annotations">
               <span>Interfaz sencilla</span>
                <span>Información de rutas</span>
                <span>Experiencia de realidad aumentada</span>
                
                
              </div>
            </div> <!-- /.boster-image-wrapper -->
          </div> <!-- /.container -->
        </div> <!-- /.boost-your-phone -->



        




        


        <!--
        =====================================================
          App ScreenShot
        =====================================================
        -->
        <div class="app-screenshot">
          <h2>Asi se ve nuestra aplicación</h2>
          <div class="screenshot-container">
            <div class="phone-mockup"><%= image_tag"home/mobile-mockup.png" %></div>
            <div class="slider-row">
              <div class="screenshoot-slider">
                <div class="item"> <%= image_tag '01-screen.jpg' %> </div>
                <div class="item"> <%= image_tag '02-screen.jpg' %> </div>
                <div class="item"> <%= image_tag '03-screen.jpg' %> </div>
                <div class="item"> <%= image_tag '04-screen.jpg' %> </div>
                <div class="item"> <%= image_tag '05-screen.jpg' %> </div>
                <div class="item"> <%= image_tag '06-screen.jpg' %> </div>
                <div class="item"> <%= image_tag '07-screen.jpg' %> </div>
                
              </div> <!-- /.screenshoot-slider -->
            </div> <!-- /.row -->
          </div> <!-- /.screenshot-container -->
        </div> <!-- /.app-screenshot -->


        <!--
        =====================================================
          Conatct Us
        =====================================================
        -->
        <div class="contact-us-section">
          <div class="container">
            <div class="row">
              <div class="col-md-5 col-xs-12 pull-right">
                <address class="contact-address">
                  <div class="theme-title-one">
                    
                    
                  </div> <!-- /.theme-title -->
                  <p>Teléfono</p>
                  <a href="#" class="tran3s call">320 842 88 65</a>
                </address> <!-- /.contact-address -->
              </div>
              <div class="col-md-7 col-xs-12">

                <h3>Contáctenos</h3>

                <%= simple_form_for @contact, :html => {:class => 'contact-us-form form-validation' } do |f| %>
                  <%= f.text_field :name, :required => true, :placeholder =>'Nombre*' %>
                  <%= f.text_field :email, :required => true, :placeholder =>'email*' %>
                  <%= f.text_area :message, :as => :text, :required => true, :placeholder =>'Mensaje*' %>
                  <div class= "hidden">
                    <%= f.input :nickname, :hint => 'Leave this field blank!' %>
                  </div>
                  <div class="theme-button">
                    <%= f.button :submit, 'Enviar' %>
                  </div>
                <% end %>
              </div> <!-- /.col- -->
            </div> <!-- /.row -->
          </div> <!-- /.container -->
        </div> <!-- /.contact-us-section -->



      </div> <!-- /.html-top-content -->



      <!--
      =====================================================
        Footer 
      =====================================================
      -->
      <footer>
        <div class="container">
          <div class="footer-data-wrapper">
            <div class="bottom-footer">
              <div class="row">
                <div class="col-lg-6 col-md-7 col-xs-12 text-right pull-right">

                  <ul class="social-icon">
                    <li><a href="#" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="tran3s"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <div class="col-lg-6 col-md-5 col-xs-12 footer-logo">
                  <div class="logo"><a href="index.html"> <%= image_tag 'logo-move.png'  %></a></div>
                  <p>Derechos reservados 2018 &copy; <strong>Moove App.</strong></p>
                </div>
              </div> <!-- /.row -->
            </div> <!-- /.bottom-footer -->
          </div>
        </div> <!-- /.container -->
      </footer>


      
          <!-- Scroll Top Button -->
      <button class="scroll-top tran3s color-one-bg">
        <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
      </button>
</div>


